<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <title>Notify gate</title>
    <style>
        /* Code Styles */
        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            border-radius: 5px;
            background: #f9f9f9;
            border: 1px solid gray;
            font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
        }

        .notice-usage {
            font-size: 15px;
            color: gray;
            font-style: italic;
        }

    </style>
</head>
<body>

<div class="container" style="margin-top: 50px">
    <h3>Notification gate</h3>
    <form id="registerServiceForm">
        <div class="form-group">
            <label for="name">Register service</label>
            <input type="text" class="form-control" id="name" placeholder="Enter service name">
        </div>
        <div class="form-group" style="display: none" id="tokenForm">
            <label for="name">Service token</label>
            <input type="text" class="form-control" id="token" disabled placeholder="">
        </div>
        <div class="form-group" style="display: none" id="errorForm">
            <div class="alert alert-danger" role="alert" id="error"></div>
        </div>
        <button id="register" class="btn btn-primary">Submit</button>
    </form>
    <div class="container" id="usage" style="display: none;"></div>
</div>


<script>
    $("#register").click(function (e) {

        e.preventDefault();
        let url = "/register";
        let arr = {Name: $("#name").val()};
        let data = JSON.stringify(arr);
        console.log(data);

        $.ajax({
            type: "POST",
            dataType: 'json',
            url: url,
            data: data,
            success: function (data) {
                $("#errorForm").css('display', 'none');
                $("#token").val(data.Token);
                $("#tokenForm").css('display', 'block');
                $("#register").css('display', 'none');
                ShowHelp(data.Token)
            },
            error: function (data) {
                $("#tokenForm").css('display', 'none');
                $("#errorForm").css('display', 'block');
                let resp = JSON.parse(data.responseText);
                $("#error").text(resp.error);
            }
        });
    });


    function ShowHelp(token) {

        let divTelegram = $('<div></div>');

        $(divTelegram).html(
                "        Telegram:<br>" +
                "        <pre><br>" +
                "            curl --header \"Content-Type: application/json\" <br>" +
                "            --header \"X-AUTH-TOKEN: " + token + "\"<br>" +
                "            --request POST <br>" +
                "            --data '{\"type\": \"TelegramChannel\", \"message\": \"test for telegram\",  \"uids\" : [\"CHANNEL_ID\", \"CHANNEL2_ID\"]}'<br>" +
                "            " + window.location + "notify<br>" +
                "        </pre>");

        let divSlack = $('<div></div>');

        $(divSlack).html(
                "        Slack:<br>" +
                "        <pre><br>" +
                "            curl --header \"Content-Type: application/json\" <br>" +
                "            --header \"X-AUTH-TOKEN: " + token + "\"<br>" +
                "            --request POST <br>" +
                "            --data '{\"type\": \"SlackChannel\", \"message\": \"test for slack\",  \"uids\" : [\"CHANNEL_ID\", \"CHANNEL2_ID\"]}'<br>" +
                "            " + window.location + "notify<br>" +
                "        </pre>");

        $("#usage")
                .append("<h4>Usage</h4><span class='notice-usage'>Replace CHANNEL_ID with actual channel id<span>")
                .append(divTelegram).css('display', 'block')
                .append(divSlack).css('display', 'block');
    }

</script>
</body>
</html>